.section {
    height: 736px;
    

    &__box {
        width: 1280px;
        height: 600px;
        background-image: url("../../img/section/section.img.jpg");
        margin: 0 auto;
        border-radius: 10px;
    }

    &__minibox {
        width: 493px;
        height: 367px;
        padding-top: 150px;
        padding-left: 86px;
    }

    &__title {
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        color: #FEFCF7;
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FEFCF7;
        mix-blend-mode: normal;
        opacity: 0.8;
        margin-top: 32px;
    }

    &__link {
        text-decoration: none;
        font-weight: 900;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #FEFCF7;
        width: 217px;
        height: 56px;
        padding: 15px 31px;
        background: #0E8784;
        border-radius: 6px;
        position: relative;
        top: 56px;
    }
}