.section4 {
    height: 853px;

    &__box {
        width: 1045px;
        height: 453px;
        margin-left: 90px;
    }

    &__list {
        list-style-type: none;
        display: flex;
        align-items: center;
        position: relative;
        left: 70px;
        bottom: 400px;

    }

    &__item {
        width: 285px;
        height: 355px;
        margin-right: 95px;
    }

    &__number {
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        color: #FDD6BA;
    }

    &__title {
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        color: #333D4B;
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #333D4B;
    }

    &__link {
        text-decoration: none;
        font-weight: 900;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #FEFCF7;
        width: 217px;
        height: 56px;
        padding: 15px 31px;
        background: #0E8784;
        border-radius: 6px;
        position: relative;
        bottom: 400px;
        left: 65px;
    }
}